.gridZoom {
  transform: var(--matrix-zoom, scale(1));
  transform-origin: top left;
  -ms-interpolation-mode: nearest-neighbor; /* For IE/Edge */
  -moz-image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.gridZoom[data-zoom] {
  --matrix-zoom: attr(data-zoom);
  transform: var(--matrix-zoom, scale(1));
}

.pointer {
  cursor: pointer;
}
